[mysqld]
sql_mode = ""
character-set-server=utf8
collation-server=utf8_general_ci
init-connect="SET NAMES utf8"
skip-character-set-client-handshake

innodb_buffer_pool_size=512M 
# innodb_additional_mem_pool_size=64M
# innodb_file_io_threads=8
innodb_lock_wait_timeout=50

innodb_log_buffer_size=32M
innodb_log_file_size=64M

innodb_flush_log_at_trx_commit=0

tmp_table_size=32M

# table_cache=4096

key_buffer_size=16M 
sort_buffer_size=8M
read_buffer_size=16M

join_buffer_size=2M

# MyISAM only
#query_cache_size=64M 
#query_cache_type=1


query_cache_size=0
query_cache_type=0
query_cache_limit=32K


[client]
default-character-set = utf8



[mysqldump]
default-character-set = utf8



[mysql]
default-character-set = utf8
